@import "~leaflet/dist/leaflet.css";

ion-content {
  --background: transparent;
}

.maps-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}


.leaflet-control-container {
  z-index: 400 !important;
}


:host ::ng-deep .leaflet-map-pane {
  z-index: 1 !important;
}

.form-container {
  position: absolute;
  bottom: 70px;
  left: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.welcome-text {
  display: block;
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(78, 78, 240);
}
.notification-container {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 50%;
}


