<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1apres">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Itineraire</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" href="/tabs/tab2apres">

      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Icident et trafic</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3" href="/tabs/tab3apres">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Aide</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
